
<header class="header">
  <nav class="nav_links">
    <a href="javascript:void(0);" (click)="onClickScroll('logo')" class="nav_item navbar_logo"><i class="fab fa-apple"></i></a>
    <a href="javascript:void(0);" (click)="onClickScroll('iPhone')" class="nav_item">iPhone</a>
    <a href="javascript:void(0);" (click)="onClickScroll('iPad')" class="nav_item">iPad</a>
    <a href="javascript:void(0);" (click)="onClickScroll('iMac')" class="nav_item">iMac</a>
    <a href="javascript:void(0);" (click)="onClickScroll('Watch')" class="nav_item">Watch</a>
    <a href="javascript:void(0);" (click)="onClickScroll('Airpods')" class="nav_item">Airpods</a>
  </nav>
</header>
<div class="logo" #logo>
  <h1 class="title_big">Apple</h1>
  <div class="logo_content"></div>
  <div class="scroll_donw">
    <a href="javascript:void(0);" class="nav_item arrow_item">
      <i class="fas fa-angle-down arrow1"></i>
    </a>

  </div>
</div>
<main class="main" #main>
  <div class="main_title">
    <p class="description">iPhone 12 pro</p>
  </div>

  <div class="container">
  </div>

</main>
<div class="ipad" #ipad>
  <div class="main_title">
    <p class="description">Apple iPad Pro</p>
  </div>
  <div class="ipad_content">

  </div>
</div>

<div class="mac" #mac>
  <div class="main_title">
    <p class="description">iMac</p>
  </div>
  <div class="mac_content">
  </div>
</div>

<div class="watch" #watch>
  <div class="main_title">
    <p class="description">Apple Watch</p>
  </div>
  <div class="watch_content">

  </div>
</div>

<div class="airpod" #Airpod>
  <div class="main_title">
    <p class="description">Airpods</p>
  </div>
  <div class="airpod_content">

  </div>
</div>


<!--<script src="js/OverlayScrollbars.js"></script>-->
